.idea
data/*
__pycache__
.DS_Store
*.env
*/.ipynb_checkpoints
.vscode
/logs/
chkp/*
*.png
/ignore/
*.log

# Specific dirs to include within ignored paths.
!data/discrete_sine_wave
!data/isolated_count_data
!data/nbinom_bowtie
